// Sass variables
$primary: #443DF6;
$secondary: #667085;

$pink-bg: #F6F6FF;
$pink-bg-darker: #8B8BF9;

$grey: #EFEFF4;

$success: #34C759;
$danger: #FF9500;
$info: #347AE2;
$danger: #FF3B30;

$text-disable: #9EA9C1;
$background-disable: #F0F3F6;

$font-small: 12px;
$font-medium: 16px;
$font-large: 20px;
$font-super: 32px;

$header-height: 66px;
$footer-height: 24px;

$box-shadow-normal: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
$box-shadow-hover: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
$box-shadow-active: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
